@import "src/values.scss";
div.category {
  background-color: $manatee-grey;
  height: 50vh;
  display: flex;
  justify-content: center;
  border-radius: 32px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  &#cat-1 {
    border-radius: 12px;
  }

  &#cat-2 {
    border-radius: 12px;
  }
}

div.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  div.category {
    height: 70vh;
  }
}
