<h1>
  Bezahlungsart
</h1>
<form
  [formGroup]="formGroup"
  (ngSubmit)="clickContinueButton.emit(formGroup?.value)"
>
  <div class="payment-methods-container">
    <div class="payment-method-container radio-button">
      <input
        id="paypal-radio-button"
        class="hidden"
        type="radio"
        value="paypal"
        formControlName="paymentMethod"
      />
      <label for="paypal-radio-button">
        <img
          class="payment-method-logo"
          src="assets/images/paypal-logo.png"
          alt=""
        />
      </label>
    </div>
    <div class="payment-method-container radio-button">
      <input
        id="sepa-radio-button"
        class="hidden"
        type="radio"
        value="sepa"
        formControlName="paymentMethod"
      />
      <label for="sepa-radio-button">
        <img
          class="payment-method-logo"
          src="assets/images/sepa-logo.png"
          alt=""
        />
      </label>
    </div>
    <div class="payment-method-container radio-button">
      <input
        id="sofort-radio-button"
        class="hidden"
        type="radio"
        value="sofort"
        formControlName="paymentMethod"
      />
      <label for="sofort-radio-button" [style.backgroundColor]="'#FA82A0'">
        <img
          class="payment-method-logo"
          src="assets/images/sofort-logo.png"
          alt=""
        />
      </label>
    </div>
    <div class="payment-method-container radio-button">
      <input
        id="card-radio-button"
        class="hidden"
        type="radio"
        value="card"
        formControlName="paymentMethod"
      />
      <label for="card-radio-button">
        <img
          class="payment-method-logo"
          src="assets/images/card-logo.png"
          alt=""
        />
      </label>
    </div>
  </div>

  <shared-button type="submit" [isDisabled]="!formGroup?.valid">
    Weiter
  </shared-button>
</form>
