:host {
  display: flex;
  flex-direction: column;

  & > * {
    margin: 0.5rem 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  & > div.address-information-form-container > h2 {
    font-size: 1.4rem;

    margin-bottom: 1rem;
  }
}
