@import "src/styles/colors.scss";

:host > button {
  box-sizing: border-box;
  padding: 0.5rem;

  display: inline-block;

  background-color: $secondary-color;

  color: $lightest-font-color;

  transition: background-color 0.25s ease-in-out;

  font-size: 1rem;

  border-radius: 0.25rem;

  &.small {
    width: 100px;
  }
  &.medium {
    width: 200px;
  }
  &.large {
    width: 300px;
  }
  &.fluid {
    width: 100%;
  }

  &:hover {
    background-color: $secondary-color-dark;
  }

  &:disabled {
    background-color: $disabled-color;
  }
}
