@import "src/styles/colors.scss";

:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 28.125rem;
  position: relative;
  margin-bottom: 1rem;
  animation-duration: 500ms;
}

div.product-header {
  position: relative;
  width: 100%;
}

div.after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 0;
}

div.color {
  height: 30px;
  width: 30px;
  border-radius: 50% 50%;
  margin: 5px;
  svg {
    -webkit-filter: drop-shadow(2px 2px 3px $light-background-color);
    filter: drop-shadow(2px 2px 3px $light-background-color);
  }
}

h3,
p {
  font-family: m-bold;

  &.before {
    position: relative;
    z-index: 1;
    background-color: $lightest-background-color;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 300ms;
  }
}

div.product-image {
  position: relative;
  height: 75%;

  img {
    height: 100%;
    cursor: pointer;
    transition: 100ms;

    -webkit-filter: drop-shadow(5px 5px 5px $darker-background-color);
    filter: drop-shadow(5px 5px 5px $darker-background-color);

    &:hover {
      transform: translateY(-10px);
      -webkit-filter: drop-shadow(10px 10px 10px $primary-color);
      filter: drop-shadow(10px 10px 10px $primary-color);
    }
  }

  div.price-tag {
    border-radius: 50% 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15%;
    bottom: 0;
    background-color: $primary-color;
    color: $lightest-font-color;
    box-shadow: 5px 1px 25px hsla(0, 0%, 50%, 0.5);
    z-index: 10;
  }
}

div.product-header.dark-mode {
  h3 {
    color: $lightest-font-color;
  }

  ~ p {
    color: $lighter-font-color;
  }
  .color {
    svg {
      -webkit-filter: drop-shadow(2px 2px 3px $darker-background-color);
      filter: drop-shadow(2px 2px 3px $darker-background-color);
    }
  }
}
