@import "styles/variables.scss";
:host {
  div.swiper-container {
    margin-top: 3rem;
  }

  div.swiper-slide > div {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;

    margin: 0 auto;
  }
}

@media only screen and (min-width: $sm-breakpoint) {
  :host div.swiper-slide > div {
    width: 540px;
  }
}
@media only screen and (min-width: $md-breakpoint) {
  :host div.swiper-slide > div {
    width: 720px;
  }
}
@media only screen and (min-width: $lg-breakpoint) {
  :host div.swiper-slide > div {
    width: 960px;
  }
}
@media only screen and (min-width: $xl-breakpoint) {
  :host div.swiper-slide > div {
    width: 1140px;
  }
}
