:host {
  height: 100vh;

  display: flex;
  flex-direction: column;

  & > main {
    flex: 1;

    margin-top: 3.75rem;

    & > div.container {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}
