<app-view-container>
  <div class="row">
    <div class="col-md-8 shopping-cart-items-list-card-container">
      <shopping-cart-items-list-card
        [shoppingCartItems]="shoppingCartItems"
        (changeShoppingCartItems)="onChangeShoppingCartItems($event)"
      >
      </shopping-cart-items-list-card>
    </div>
    <div class="col-md-4">
      <shopping-cart-price-overview-card [priceOfAllItems]="priceOfAllItems">
      </shopping-cart-price-overview-card>
    </div>
  </div>
</app-view-container>
