@import "src/styles/colors.scss";
@import "src/styles/variables.scss";

:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  & > img.thumbnail {
    height: 100px;

    object-fit: cover;
  }

  & > div.additional-information {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    padding: 0.5rem;

    & > div.left-side {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      & > div {
        & > * {
          margin: 0.125rem 0;

          :first-child {
            margin-top: 0;
          }
          :last-child {
            margin-bottom: 0;
          }
        }
        & > h3.title {
          font-size: 1.2rem;
        }
      }

      & > button.remove {
        display: flex;
        align-items: center;

        & > * {
          margin: 0 0.125rem;

          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }

        & > img {
          display: block;

          width: 20px;
          height: 20px;
        }

        & > p {
          font-family: m-light;
        }
      }
    }

    & > div.right-side {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}

@media only screen and (min-width: $md-breakpoint) {
  :host {
    flex-direction: row;

    & > img.thumbnail {
      width: 100px;
    }

    & > div.additional-information {
      flex: 1;
    }
  }
}
