$alice-blue: #edf2f4;
$primary-color: #2b2d42;
$secondary-color: #ef233c;
$secondary-color-dark: #d90429;
$manatee-grey: #8d99ae;
$disabled-color: #c0c0c0;
$default-card-background-color: #ffffff;
$light-font-color: #ffffff;
