$alice-blue: #edf2f4;
$primary-color: #2b2d42;
$secondary-color: #ef233c;
$secondary-color-dark: #d90429;
$manatee-grey: #8d99ae;

$disabled-color: #c0c0c0;

$default-card-background-color: #ffffff;
$default-border-color: #cccccc;

$lightest-background-color: hsl(0, 0%, 95%);
$lighter-background-color: hsl(0, 0%, 90%);
$light-background-color: hsl(0, 0%, 85%);
$dark-background-color: hsl(250, 0%, 25%);
$darker-background-color: hsl(250, 0%, 20%);
$darkest-background-color: hsl(255, 0%, 15%);

$lightest-font-color: hsl(0, 0%, 90%);
$lighter-font-color: hsl(0, 0%, 75%);
$light-font-color: hsl(0, 0%, 60%);
$dark-font-color: hsl(0, 0%, 30%);
$darker-font-color: hsl(0, 0%, 20%);
$darkest-font-color: hsl(0, 0%, 10%);
