<h1>
  Gastbestellung
</h1>
<form
  *ngIf="emailInformationFormGroup"
  [formGroup]="emailInformationFormGroup"
  (ngSubmit)="clickContinueButton.emit(emailInformationFormGroup?.value)"
>
  <shared-input
    formControlName="email"
    label="Email"
    placeholder="max-mustermann@mail.de"
    hint="Ihre Email-Adresse wird nicht weitergegeben und wird einzig und allein für Versandmitteilungen verwendet"
    [type]="InputType.Email"
  ></shared-input>
  <ng-container
    *ngIf="
      !emailInformationFormGroup?.controls.email.valid &&
      emailInformationFormGroup?.controls.email.touched
    "
  >
    <div
      class="alert alert-warning"
      *ngFor="
        let errorKey of Object.keys(
          emailInformationFormGroup?.controls.email.errors
        )
      "
      [ngSwitch]="errorKey"
    >
      <ng-container *ngSwitchCase="'required'">
        Die Eingabe ist erforderlich
      </ng-container>
      <ng-container *ngSwitchCase="'email'">
        Es muss eine Email angegeben werden
      </ng-container>
      <ng-container *ngSwitchDefault>
        Invalide
      </ng-container>
    </div>
  </ng-container>
  <shared-button type="submit" [isDisabled]="!emailInformationFormGroup?.valid">
    Weiter
  </shared-button>
</form>
