<app-view-container>
  <div class="info-top">
    <div class="product-detail-wrapper">
      <div
        class="product-selection-header animate__animated animate__faster rellax"
        data-rellax-speed="-10"
        data-rellax-xs-speed="-2"
      >
        <h1>
          {{ "T-Shirt " + product?.name }}
        </h1>
        <app-color-pallet></app-color-pallet>
        <app-size-selector></app-size-selector>
      </div>
      <img
        class="product-image animate__animated animate__fadeInUp container-lg"
        src="/assets/images/example-product.png"
        alt=""
      />
      <app-price-buy-bar id="price-buy-bar"></app-price-buy-bar>
    </div>
    <app-swiper-slide-product-images></app-swiper-slide-product-images>
  </div>
  <div class="container other-products rellax" data-rellax-speed="3">
    <div class="row justify-content-between">
      <app-product class="product col-lg-5"></app-product>
      <app-product class="product col-lg-5"></app-product>
    </div>
    <div class="row justify-content-between">
      <app-product class="product col-lg-5"></app-product>
      <app-product class="product col-lg-5"></app-product>
    </div>
  </div>
</app-view-container>
