<img
  class="thumbnail"
  [src]="shoppingCartItem?.product.thumbnailImageUrl"
  alt=""
/>
<div class="additional-information">
  <div class="left-side">
    <div>
      <h3 class="title">
        {{ shoppingCartItem?.product.title }}
      </h3>
      <h4 class="subtitle">
        {{ shoppingCartItem?.product.subtitle }}
      </h4>
    </div>
    <button class="remove" (click)="clickRemove.emit()">
      <img src="assets/icons/trash-can.svg" alt="" />
      <div>
        Entfernen
      </div>
    </button>
  </div>
  <div class="right-side">
    <shared-input-stepper
      [quantity]="shoppingCartItem?.quantity"
      (changeQuantity)="onChangeQuantity($event)"
    ></shared-input-stepper>
    <div class="price">{{ shoppingCartItem?.price }}€</div>
  </div>
</div>
