@import "src/styles/colors.scss";
@import "src/styles/variables.scss";

:host {
  & > * {
    margin: 1rem 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
