<div class="swiper-container" [swiper]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="/assets/images/model0.JPG" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="/assets/images/model1.JPG" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="/assets/images/model0.JPG" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="/assets/images/model1.JPG" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="/assets/images/model0.JPG" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="/assets/images/model1.JPG" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="/assets/images/model0.JPG" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="/assets/images/model1.JPG" alt="" />
    </div>
  </div>
</div>
