<form (ngSubmit)="onSubmit()">
  <div
    *ngIf="shippingAddressInformationFormGroup"
    class="address-information-form-container"
    [formGroup]="shippingAddressInformationFormGroup"
  >
    <h2>
      Lieferadresse
    </h2>

    <!-- name section -->

    <!-- first row (title, firstname, lastname) -->

    <div class="form-row" formGroupName="name">
      <div class="col-md-2">
        <shared-select
          formControlName="title"
          label="Anrede"
          placeholder="Auswahl..."
          [options]="titleSelectOptions"
        ></shared-select>
        <ng-container
          *ngIf="
            !shippingAddressInformationFormGroup?.controls.name.controls.title
              .valid &&
            shippingAddressInformationFormGroup?.controls.name.controls.title
              .touched
          "
        >
          <div
            class="alert alert-warning"
            *ngFor="
              let errorKey of Object.keys(
                shippingAddressInformationFormGroup?.controls.name.controls
                  .title.errors
              )
            "
            [ngSwitch]="errorKey"
          >
            <ng-container *ngSwitchCase="FormValidationErrorKey.Required">
              Die Eingabe ist erforderlich
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ errorKey }}
            </ng-container>
          </div>
        </ng-container>
      </div>
      <div class="col-md-5">
        <shared-input
          formControlName="firstName"
          label="Vorname"
          placeholder="Max"
          [type]="InputType.Text"
        ></shared-input>
        <ng-container
          *ngIf="
            !shippingAddressInformationFormGroup?.controls.name.controls
              .firstName.valid &&
            shippingAddressInformationFormGroup?.controls.name.controls
              .firstName.touched
          "
        >
          <div
            class="alert alert-warning"
            *ngFor="
              let errorKey of Object.keys(
                shippingAddressInformationFormGroup?.controls.name.controls
                  .firstName.errors
              )
            "
            [ngSwitch]="errorKey"
          >
            <ng-container *ngSwitchCase="FormValidationErrorKey.Required">
              Die Eingabe ist erforderlich
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ errorKey }}
            </ng-container>
          </div>
        </ng-container>
      </div>
      <div class="col-md-5">
        <shared-input
          formControlName="lastName"
          label="Nachname"
          placeholder="Mustermann"
          [type]="InputType.Text"
        ></shared-input>
        <ng-container
          *ngIf="
            !shippingAddressInformationFormGroup?.controls.name.controls
              .lastName.valid &&
            shippingAddressInformationFormGroup?.controls.name.controls.lastName
              .touched
          "
        >
          <div
            class="alert alert-warning"
            *ngFor="
              let errorKey of Object.keys(
                shippingAddressInformationFormGroup?.controls.name.controls
                  .lastName.errors
              )
            "
            [ngSwitch]="errorKey"
          >
            <ng-container *ngSwitchCase="FormValidationErrorKey.Required">
              Die Eingabe ist erforderlich
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ errorKey }}
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- address section -->

    <!-- second row (street,housenumber) -->

    <div class="form-row" formGroupName="address">
      <div class="col-md">
        <shared-input
          formControlName="street"
          label="Straße"
          placeholder="Musterstraße"
          [type]="InputType.Text"
        >
        </shared-input>
        <ng-container
          *ngIf="
            !shippingAddressInformationFormGroup?.controls.address.controls
              .street.valid &&
            shippingAddressInformationFormGroup?.controls.address.controls
              .street.touched
          "
        >
          <div
            class="alert alert-warning"
            *ngFor="
              let errorKey of Object.keys(
                shippingAddressInformationFormGroup?.controls.address.controls
                  .street.errors
              )
            "
            [ngSwitch]="errorKey"
          >
            <ng-container *ngSwitchCase="FormValidationErrorKey.Required">
              Die Eingabe ist erforderlich
            </ng-container>
            <ng-container *ngSwitchCase="FormValidationErrorKey.Pattern">
              Ein Straßenname darf keine Zahlen beinhalten
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ errorKey }}
            </ng-container>
          </div>
        </ng-container>
      </div>
      <div class="col-md">
        <shared-input
          formControlName="houseNumber"
          label="Hausnummer"
          placeholder="1"
          [type]="InputType.Number"
        >
        </shared-input>
        <ng-container
          *ngIf="
            !shippingAddressInformationFormGroup?.controls.address.controls
              .houseNumber.valid &&
            shippingAddressInformationFormGroup?.controls.address.controls
              .houseNumber.touched
          "
        >
          <div
            class="alert alert-warning"
            *ngFor="
              let errorKey of Object.keys(
                shippingAddressInformationFormGroup?.controls.address.controls
                  .houseNumber.errors
              )
            "
            [ngSwitch]="errorKey"
          >
            <ng-container *ngSwitchCase="FormValidationErrorKey.Required">
              Die Eingabe ist erforderlich
            </ng-container>
            <ng-container *ngSwitchCase="FormValidationErrorKey.Min">
              Die Hausnumme darf nicht kleiner als 1 sein
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ errorKey }}
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- third row (addition) -->

    <div class="form-row" formGroupName="address">
      <div class="col-md">
        <shared-input
          formControlName="addition"
          label="Adresszusatz"
          placeholder="a"
          [type]="InputType.Text"
        >
        </shared-input>
        <ng-container
          *ngIf="
            !shippingAddressInformationFormGroup?.controls.address.controls
              .addition.valid &&
            shippingAddressInformationFormGroup?.controls.address.controls
              .addition.touched
          "
        >
          <div
            class="alert alert-warning"
            *ngFor="
              let errorKey of Object.keys(
                shippingAddressInformationFormGroup?.controls.address.controls
                  .addition.errors
              )
            "
            [ngSwitch]="errorKey"
          >
            <ng-container *ngSwitchDefault>
              {{ errorKey }}
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- fourth row (postcode, city, country) -->

    <div class="form-row" formGroupName="address">
      <div class="col-md">
        <shared-input
          formControlName="postCode"
          label="Postleitzahl"
          placeholder="11111"
          [type]="InputType.Number"
        >
        </shared-input>
        <ng-container
          *ngIf="
            !shippingAddressInformationFormGroup?.controls.address.controls
              .postCode.valid &&
            shippingAddressInformationFormGroup?.controls.address.controls
              .postCode.touched
          "
        >
          <div
            class="alert alert-warning"
            *ngFor="
              let errorKey of Object.keys(
                shippingAddressInformationFormGroup?.controls.address.controls
                  .postCode.errors
              )
            "
            [ngSwitch]="errorKey"
          >
            <ng-container *ngSwitchCase="FormValidationErrorKey.Required">
              Die Eingabe ist erforderlich
            </ng-container>
            <ng-container *ngSwitchCase="FormValidationErrorKey.Min">
              Die Postleitzahl darf nicht negativ sein
            </ng-container>
            <ng-container *ngSwitchCase="FormValidationErrorKey.MinLength">
              Die Postleitzahl muss aus fünf Ziffern bestehen
            </ng-container>
            <ng-container *ngSwitchCase="FormValidationErrorKey.MaxLength">
              Die Postleitzahl muss aus fünf Ziffern bestehen
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ errorKey }}
            </ng-container>
          </div>
        </ng-container>
      </div>
      <div class="col-md">
        <shared-input
          formControlName="city"
          label="Stadt"
          placeholder="Musterstadt"
          [type]="InputType.Text"
        >
        </shared-input>
        <ng-container
          *ngIf="
            !shippingAddressInformationFormGroup?.controls.address.controls.city
              .valid &&
            shippingAddressInformationFormGroup?.controls.address.controls.city
              .touched
          "
        >
          <div
            class="alert alert-warning"
            *ngFor="
              let errorKey of Object.keys(
                shippingAddressInformationFormGroup?.controls.address.controls
                  .city.errors
              )
            "
            [ngSwitch]="errorKey"
          >
            <ng-container *ngSwitchCase="FormValidationErrorKey.Required">
              Die Eingabe ist erforderlich
            </ng-container>
            <ng-container *ngSwitchCase="FormValidationErrorKey.Pattern">
              Ein Straßenname darf keine Zahlen beinhalten
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ errorKey }}
            </ng-container>
          </div>
        </ng-container>
      </div>
      <div class="col-md">
        <shared-select
          formControlName="country"
          label="Land"
          placeholder="Auswahl..."
          [options]="countrySelectOptions"
        >
        </shared-select>
        <ng-container
          *ngIf="
            !shippingAddressInformationFormGroup?.controls.address.controls
              .country.valid &&
            shippingAddressInformationFormGroup?.controls.address.controls
              .country.touched
          "
        >
          <div
            class="alert alert-warning"
            *ngFor="
              let errorKey of Object.keys(
                shippingAddressInformationFormGroup?.controls.address.controls
                  .country.errors
              )
            "
            [ngSwitch]="errorKey"
          >
            <ng-container *ngSwitchCase="FormValidationErrorKey.Required">
              Die Eingabe ist erforderlich
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ errorKey }}
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <shared-checkbox
    *ngIf="shippingAddressMatchingBillingAddressCheckboxFormControl"
    label="Rechnungsadresse gleich Lieferadresse"
    [formControl]="shippingAddressMatchingBillingAddressCheckboxFormControl"
  >
  </shared-checkbox>

  <div
    *ngIf="
      shippingAddressMatchingBillingAddressCheckboxFormControl?.value ===
        false && billingAddressInformationFormGroup
    "
    class="address-information-form-container"
    [formGroup]="billingAddressInformationFormGroup"
  >
    <h2>
      Rechnungsadresse
    </h2>

    <!-- name section -->

    <!-- first row (title, firstname, lastname) -->

    <div class="form-row" formGroupName="name">
      <div class="col-md-2">
        <shared-select
          formControlName="title"
          label="Anrede"
          placeholder="Auswahl..."
          [options]="titleSelectOptions"
        ></shared-select>
        <ng-container
          *ngIf="
            !billingAddressInformationFormGroup?.controls.name.controls.title
              .valid &&
            billingAddressInformationFormGroup?.controls.name.controls.title
              .touched
          "
        >
          <div
            class="alert alert-warning"
            *ngFor="
              let errorKey of Object.keys(
                billingAddressInformationFormGroup?.controls.name.controls.title
                  .errors
              )
            "
            [ngSwitch]="errorKey"
          >
            <ng-container *ngSwitchCase="FormValidationErrorKey.Required">
              Die Eingabe ist erforderlich
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ errorKey }}
            </ng-container>
          </div>
        </ng-container>
      </div>
      <div class="col-md-5">
        <shared-input
          formControlName="firstName"
          label="Vorname"
          placeholder="Max"
          [type]="InputType.Text"
        ></shared-input>
        <ng-container
          *ngIf="
            !billingAddressInformationFormGroup?.controls.name.controls
              .firstName.valid &&
            billingAddressInformationFormGroup?.controls.name.controls.firstName
              .touched
          "
        >
          <div
            class="alert alert-warning"
            *ngFor="
              let errorKey of Object.keys(
                billingAddressInformationFormGroup?.controls.name.controls
                  .firstName.errors
              )
            "
            [ngSwitch]="errorKey"
          >
            <ng-container *ngSwitchCase="FormValidationErrorKey.Required">
              Die Eingabe ist erforderlich
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ errorKey }}
            </ng-container>
          </div>
        </ng-container>
      </div>
      <div class="col-md-5">
        <shared-input
          formControlName="lastName"
          label="Nachname"
          placeholder="Mustermann"
          [type]="InputType.Text"
        ></shared-input>
        <ng-container
          *ngIf="
            !billingAddressInformationFormGroup?.controls.name.controls.lastName
              .valid &&
            billingAddressInformationFormGroup?.controls.name.controls.lastName
              .touched
          "
        >
          <div
            class="alert alert-warning"
            *ngFor="
              let errorKey of Object.keys(
                billingAddressInformationFormGroup?.controls.name.controls
                  .lastName.errors
              )
            "
            [ngSwitch]="errorKey"
          >
            <ng-container *ngSwitchCase="FormValidationErrorKey.Required">
              Die Eingabe ist erforderlich
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ errorKey }}
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- address section -->

    <!-- second row (street,housenumber) -->

    <div class="form-row" formGroupName="address">
      <div class="col-md">
        <shared-input
          formControlName="street"
          label="Straße"
          placeholder="Musterstraße"
          [type]="InputType.Text"
        >
        </shared-input>
        <ng-container
          *ngIf="
            !billingAddressInformationFormGroup?.controls.address.controls
              .street.valid &&
            billingAddressInformationFormGroup?.controls.address.controls.street
              .touched
          "
        >
          <div
            class="alert alert-warning"
            *ngFor="
              let errorKey of Object.keys(
                billingAddressInformationFormGroup?.controls.address.controls
                  .street.errors
              )
            "
            [ngSwitch]="errorKey"
          >
            <ng-container *ngSwitchCase="FormValidationErrorKey.Required">
              Die Eingabe ist erforderlich
            </ng-container>
            <ng-container *ngSwitchCase="FormValidationErrorKey.Pattern">
              Ein Straßenname darf keine Zahlen beinhalten
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ errorKey }}
            </ng-container>
          </div>
        </ng-container>
      </div>
      <div class="col-md">
        <shared-input
          formControlName="houseNumber"
          label="Hausnummer"
          placeholder="1"
          [type]="InputType.Number"
        >
        </shared-input>
        <ng-container
          *ngIf="
            !billingAddressInformationFormGroup?.controls.address.controls
              .houseNumber.valid &&
            billingAddressInformationFormGroup?.controls.address.controls
              .houseNumber.touched
          "
        >
          <div
            class="alert alert-warning"
            *ngFor="
              let errorKey of Object.keys(
                billingAddressInformationFormGroup?.controls.address.controls
                  .houseNumber.errors
              )
            "
            [ngSwitch]="errorKey"
          >
            <ng-container *ngSwitchCase="FormValidationErrorKey.Required">
              Die Eingabe ist erforderlich
            </ng-container>
            <ng-container *ngSwitchCase="FormValidationErrorKey.Min">
              Die Hausnumme darf nicht kleiner als 1 sein
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ errorKey }}
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- third row (addition) -->

    <div class="form-row" formGroupName="address">
      <div class="col-md">
        <shared-input
          formControlName="addition"
          label="Adresszusatz"
          placeholder="a"
          [type]="InputType.Text"
        >
        </shared-input>
        <ng-container
          *ngIf="
            !billingAddressInformationFormGroup?.controls.address.controls
              .addition.valid &&
            billingAddressInformationFormGroup?.controls.address.controls
              .addition.touched
          "
        >
          <div
            class="alert alert-warning"
            *ngFor="
              let errorKey of Object.keys(
                billingAddressInformationFormGroup?.controls.address.controls
                  .addition.errors
              )
            "
            [ngSwitch]="errorKey"
          >
            <ng-container *ngSwitchDefault>
              {{ errorKey }}
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- fourth row (postcode, city, country) -->

    <div class="form-row" formGroupName="address">
      <div class="col-md">
        <shared-input
          formControlName="postCode"
          label="Postleitzahl"
          placeholder="11111"
          [type]="InputType.Number"
        >
        </shared-input>
        <ng-container
          *ngIf="
            !billingAddressInformationFormGroup?.controls.address.controls
              .postCode.valid &&
            billingAddressInformationFormGroup?.controls.address.controls
              .postCode.touched
          "
        >
          <div
            class="alert alert-warning"
            *ngFor="
              let errorKey of Object.keys(
                billingAddressInformationFormGroup?.controls.address.controls
                  .postCode.errors
              )
            "
            [ngSwitch]="errorKey"
          >
            <ng-container *ngSwitchCase="FormValidationErrorKey.Required">
              Die Eingabe ist erforderlich
            </ng-container>
            <ng-container *ngSwitchCase="FormValidationErrorKey.Min">
              Die Postleitzahl darf nicht negativ sein
            </ng-container>
            <ng-container *ngSwitchCase="FormValidationErrorKey.MinLength">
              Die Postleitzahl muss aus fünf Ziffern bestehen
            </ng-container>
            <ng-container *ngSwitchCase="FormValidationErrorKey.MaxLength">
              Die Postleitzahl muss aus fünf Ziffern bestehen
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ errorKey }}
            </ng-container>
          </div>
        </ng-container>
      </div>
      <div class="col-md">
        <shared-input
          formControlName="city"
          label="Stadt"
          placeholder="Musterstadt"
          [type]="InputType.Text"
        >
        </shared-input>
        <ng-container
          *ngIf="
            !billingAddressInformationFormGroup?.controls.address.controls.city
              .valid &&
            billingAddressInformationFormGroup?.controls.address.controls.city
              .touched
          "
        >
          <div
            class="alert alert-warning"
            *ngFor="
              let errorKey of Object.keys(
                billingAddressInformationFormGroup?.controls.address.controls
                  .city.errors
              )
            "
            [ngSwitch]="errorKey"
          >
            <ng-container *ngSwitchCase="FormValidationErrorKey.Required">
              Die Eingabe ist erforderlich
            </ng-container>
            <ng-container *ngSwitchCase="FormValidationErrorKey.Pattern">
              Ein Straßenname darf keine Zahlen beinhalten
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ errorKey }}
            </ng-container>
          </div>
        </ng-container>
      </div>
      <div class="col-md">
        <shared-select
          formControlName="country"
          label="Land"
          placeholder="Auswahl..."
          [options]="countrySelectOptions"
        >
        </shared-select>
        <ng-container
          *ngIf="
            !billingAddressInformationFormGroup?.controls.address.controls
              .country.valid &&
            billingAddressInformationFormGroup?.controls.address.controls
              .country.touched
          "
        >
          <div
            class="alert alert-warning"
            *ngFor="
              let errorKey of Object.keys(
                billingAddressInformationFormGroup?.controls.address.controls
                  .country.errors
              )
            "
            [ngSwitch]="errorKey"
          >
            <ng-container *ngSwitchCase="FormValidationErrorKey.Required">
              Die Eingabe ist erforderlich
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ errorKey }}
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <shared-button
    type="submit"
    [isDisabled]="
      (shippingAddressMatchingBillingAddressCheckboxFormControl?.value ===
        true &&
        !shippingAddressInformationFormGroup?.valid) ||
      (shippingAddressMatchingBillingAddressCheckboxFormControl?.value ===
        false &&
        (!shippingAddressInformationFormGroup?.valid ||
          !billingAddressInformationFormGroup?.valid))
    "
  >
    Weiter
  </shared-button>
</form>
