<img class="thumbnail" [src]="product?.thumbnailImageUrl" alt="" />
<div class="additional-information">
  <div class="left-side">
    <div>
      <h2 class="title">
        {{ product?.title }}
      </h2>
      <h3 class="subtitle">
        {{ product?.subtitle }}
      </h3>
    </div>
    <button class="remove">
      <img src="assets/icons/svg/trash-can.svg" alt="" />
      <div>
        Entfernen
      </div>
    </button>
  </div>
  <div class="right-side">
    <app-item-quantity-input-stepper> </app-item-quantity-input-stepper>
    <div class="price">{{ product?.price }}€</div>
  </div>
</div>
