:host {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: stretch;

  & > div.left-side {
    display: flex;

    & > img.thumbnail {
      width: 100px;
      height: 100%;

      object-fit: cover;
    }

    & > div.text-information {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  & > div.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
}
