@import "src/styles/colors.scss";
@import "src/styles/variables.scss";

img.arrow-down {
  width: 5rem;
  position: sticky;
  bottom: 0.7rem;
  left: 50%;
  transform: translateX(-50%);
  &.animate__upDown {
    animation-name: upDownAnimation;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
  }
}

div.banner {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  position: relative;
  background-color: gray;
}

div.main-banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  div.t-shirt {
    position: fixed;
    max-width: 49vw;
    margin-top: 10vh;
    z-index: 20;

    &.move-left {
      transform: translateX(-50%);
      svg {
        left: 0;
        transform: translate(-50%, -70%);
      }
    }

    &.move-right {
      transform: translateX(50%);
      svg {
        right: 0;
        transform: translate(50%, -70%);
      }
    }

    svg {
      width: 95vw;
      z-index: -1;
      position: absolute;
      transition: 1s;
    }

    img {
      max-width: 50vw;
      object-fit: contain;
      -webkit-filter: drop-shadow(5px 5px 5px $darker-background-color);
      filter: drop-shadow(5px 5px 5px $darker-background-color);
      transition: 1s;

      &:hover {
        transform: translateY(-5%);
        -webkit-filter: drop-shadow(10px 10px 10px $primary-color);
        filter: drop-shadow(10px 10px 10px $primary-color);

        + svg#blobSvg1 {
          transform: translate(-45%, -70%);
        }
        + svg#blobSvg2 {
          transform: translate(45%, -65%);
        }
      }
    }
  }

  div.bottom-part-banner {
    margin-top: 100vh;
    position: relative;

    h1 {
      text-align: center;
      font-size: 5rem;
      margin-bottom: 3rem;
    }
    h4 {
      font-family: m-bold;
      position: absolute;
      bottom: -3rem;
      left: 50%;
      transform: translate(-50%, 100%);
      width: 100%;
      text-align: center;
    }
  }
}
h3.before {
  color: $lightest-font-color !important;
}

div.wave {
  transform-origin: 50% 100%;
  width: 100%;
  margin-bottom: -2px;
  z-index: 2;
}

@keyframes upDownAnimation {
  0% {
    bottom: 0.7rem;
  }

  50% {
    bottom: 0.3rem;
  }

  100% {
    bottom: 0.7rem;
  }
}

@media only screen and (min-width: $md-breakpoint) {
  div.t-shirt {
  }
}
