@import "src/values.scss";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
}

svg {
  width: inherit;
}

.blob {
  fill: $secondary-color;
}

div.adv-content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    margin-bottom: 10%;
  }
  img {
    width: 30%;
  }
}
