<svg
  width="100%"
  height="100%"
  viewBox="0 0 200 200"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xml:space="preserve"
  xmlns:serif="http://www.serif.com/"
  style="
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 2;
  "
>
  <g transform="matrix(1.64042,0,0,1.8852,104.906,78.2374)">
    <path
      class="blob"
      d="M56,-15.1C62.8,2.5 51.5,29 29.6,46.2C7.7,63.3 -24.8,71.2 -44,57.9C-63.2,44.6 -69,10.1 -59.4,-11.4C-49.8,-32.9 -24.9,-41.6 -0.1,-41.5C24.7,-41.5 49.3,-32.8 56,-15.1Z"
      style="fill-rule: nonzero"
    />
  </g>
</svg>
