:host {
  height: 100vh;

  display: flex;
  flex-direction: column;

  & > main {
    flex: 1;

    overflow: auto;

    &.with-margin {
      margin-top: 3.5rem;
    }

    & > div.container {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}
