:host {
  height: 100vh;

  display: flex;
  flex-direction: column;

  & > main {
    flex: 1;

    &.with-margin {
      margin-top: 65px;

      & > div {
        height: calc(100vh - 65px);
      }
    }

    & > div {
      height: 100vh;

      overflow: auto;

      &.container {
        padding-top: 3rem;
        padding-bottom: 3rem;
      }
    }
  }
}
