@import "bootstrap/dist/css/bootstrap.min.css";
@import "./styles/colors.scss";
@import "./styles/variables.scss";

@font-face {
  font-family: "p-regular";
  src: url("/assets/fonts/Pacifico-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "m-extra-light";
  src: url("/assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "m-light";
  src: url("/assets/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "m-reg";
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "m-med";
  src: url("/assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "m-semi-bold";
  src: url("/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "m-bold";
  src: url("/assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "mono-reg";
  src: url("/assets/fonts/FiraCode-Regular.ttf") format("truetype");
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: $lightest-background-color;
  color: $dark-font-color;

  font-family: m-reg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1,
h2 {
  color: $darkest-font-color;
  font-family: m-semi-bold;
}

h3,
h4,
h5,
h6 {
  color: $darker-font-color;
  font-family: m-med;
}

button {
  border: none;

  background-color: transparent;

  padding: 0;

  &.btn-primary {
    background-color: $secondary-color;

    &:hover {
      background-color: $secondary-color-dark;
    }
  }

  &:focus {
    outline: none;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}
