/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "values.scss";

@font-face {
  font-family: "p-regular";
  src: url("/assets/fonts/Pacifico-Regular.ttf") format("truetype");
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: $alice-blue;
}

html {
  font-size: 62.5%; // => 1 rem is now 10px (and not 16px) https://www.sitepoint.com/understanding-and-using-rem-units-in-css/
}

h1 {
  font-size: 3.2rem; //32px
}

h2 {
  font-size: 2.4rem; //24px
}

h3 {
  font-size: 1.872rem; //18.72px
}

h4 {
  font-size: 1.4rem; //14px
}

h5 {
  font-size: 1.328rem; //13.28px
}

h6 {
  font-size: 1.072rem; //10.72px
}

p,
li,
div,
span {
  font-size: 1.4rem; //14px
}

button {
  border: none;

  background-color: transparent;

  padding: 0;

  &:focus {
    outline: none;
  }
}

button.btn-primary {
  background-color: $secondary-color;
  border: 0;
}

button.btn-primary:hover {
  background-color: $secondary-color-dark;
}
