@import "bootstrap/dist/css/bootstrap.min.css";
@import "./styles/colors.scss";
@import "./styles/variables.scss";

@font-face {
  font-family: "p-regular";
  src: url("/assets/fonts/Pacifico-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "m-bold";
  src: url("/assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "m-med";
  src: url("/assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "m-reg";
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "m-sem-bold";
  src: url("/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: $alice-blue;
}

button {
  border: none;

  background-color: transparent;

  padding: 0;

  &.btn-primary {
    background-color: $secondary-color;

    &:hover {
      background-color: $secondary-color-dark;
    }
  }

  &:focus {
    outline: none;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
