/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "values.scss";

@font-face {
  font-family: "p-regular";
  src: url("/assets/fonts/Pacifico-Regular.ttf") format("truetype");
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: $alice-blue;
}

main {
}

button {
  border: none;

  background-color: transparent;

  padding: 0;
}

button.btn-primary {
  background-color: $secondary-color;
  border: 0;
}

button.btn-primary:hover {
  background-color: $secondary-color-dark;
}
