$alice-blue: #edf2f4;
$primary-color: #2b2d42;
$secondary-color: #ef233c;
$secondary-color-dark: #d90429;
$manatee-grey: #8d99ae;

$disabled-color: #c0c0c0;

$default-card-box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.125);
$default-card-border-radius: 1.5rem;
$default-card-background-color: #ffffff;
$default-card-padding: 1rem;

$light-font-color: #ffffff;
