<app-view-container>
  <button (click)="onClickAddToShoppingCart()">Add T-shirt to products</button>
  <div class="container">
    <div class="row justify-content-between">
      <app-product class="product col-lg-4"></app-product>
      <app-product class="product col-lg-4"></app-product>
      <app-product class="product col-lg-4"></app-product>
    </div>
    <div class="row justify-content-between">
      <app-product class="product col-lg-4"></app-product>
      <app-product class="product col-lg-4"></app-product>
      <app-product class="product col-lg-4"></app-product>
    </div>
    <div class="row justify-content-between">
      <app-product class="product col-lg-4"></app-product>
      <app-product class="product col-lg-4"></app-product>
      <app-product class="product col-lg-4"></app-product>
    </div>
    <div class="row justify-content-between">
      <app-product class="product col-lg-4"></app-product>
      <app-product class="product col-lg-4"></app-product>
      <app-product class="product col-lg-4"></app-product>
    </div>
    <div class="row justify-content-between">
      <app-product class="product col-lg-4"></app-product>
      <app-product class="product col-lg-4"></app-product>
      <app-product class="product col-lg-4"></app-product>
    </div>
  </div>
</app-view-container>
