<nav
  class="navbar-light navbar navbar-expand-md fixed-top animate__animated animate__slideInDown"
  id="nav"
>
  <div
    class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2"
    id="navbarText"
  >
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>
        <div class="hover-stripe"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About Us</a>
        <div class="hover-stripe"></div>
      </li>
    </ul>
  </div>
  <div class="order-0 logo">
    <a
      class="navbar-brand mx-auto"
      style="font-family: p-regular;"
      routerLink="/"
      >NicolasWorld</a
    >
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link shopping-bag" routerLink="/shopping-cart">
          ShoppingBag
          <div class="counter"><p>0</p></div>
        </a>
        <div class="hover-stripe"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">
          Account
        </a>
        <div class="hover-stripe"></div>
      </li>
    </ul>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target=".dual-collapse2"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
