@import "src/styles/colors.scss";

.shopping-bag {
  position: relative;

  div.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20px;
    width: 20px;
    background-color: $secondary-color;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 50% 50%;
  }
}

img.icon {
  display: block;
  height: 1.75rem;
}

nav.navbar {
  padding-top: 2.5rem;
  background-color: transparent;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.47) 3px 3px 15px 3px;

  a {
    color: white !important;
  }
}

.nav-transparent {
  padding-top: 8px !important;
  background-color: #2b2d42 !important;
}

a.nav-link {
  color: #edf2f4 !important;
  transition: 0.2s;
  &:hover {
    transform: translateY(-4px);
    text-shadow: 3px 3px 4px black;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  nav.navbar {
    padding-top: 8px;
  }
}
